<!-- Form Modal -->
<div id="popupPagarContrato" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="lbl_title_create_carts"></h4>
            </div>
            <div class="modal-body modal-bodyEdit modal-scroll">
                <section id="content" class="animated fadeInUp">
                    <form id="formEditVehiculo" name="formResultado" class="">
                        <fieldset>
                            <div class="row">
                                <div class="col col-12 col-md-12">
                                    <div class="form-row m-b-55">
                                        <div class="col-4">
                                            <div class="input-group-desc">
                                                <label>Total a Pagar</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-group-desc">
                                                <input id="txtTotalPagar" disabled class="input--style-5" type="text" name="txtTotalPagar">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-group-desc">
                                                <input id="txtMoneda" disabled class="input--style-5" type="text" name="txtTotalPagar">
                                            </div>
                                        </div>
                                    </div>

                              

                                    <div class="col-md-12">
                                        <div class=" actions pull-right">
                                            <button type="button" id="btnGuardarContrato" class="btn btn-accion btn--radius-2 btn-primary btn-sm" data-role="tooltip" title="Crear Contrato">
                                                <i class="fa fa-check-circle display-block fa-2x"></i> Crear contrato
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- Mensajes-->
<script src="~/Content/js/src/Dialog.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


