
@{
    ViewBag.Title = "ReporteComisiones";
    Layout = "~/Areas/Viwolf/Views/Shared/_LayoutReservacion.cshtml";
}

<!DOCTYPE html>

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>@ViewBag.Title - Reporte de comisiones</title>
    @Styles.Render("~/bundles/Estilo/ViwolfRentalsReservaciones")

    <!-- Estilo datepicker-->
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">



    <script type="text/javascript">
        var usuarioLogueado = '@ViewBag.Usuario';
        var idUsuarioLogueado = '@ViewBag.IdUsuario'
    </script>
</head>


<body>

    <div class="card card-5">
        <div class="card-heading">
            <h2 class="title">Reporte de Comisiones</h2>
        </div>
        <div class="card-body">
            <form id="formPagoComision" name="formPagoComision" class="smart-form">
                <fieldset>
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="form-row m-b-55">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input id="txtFechaInicio" class="input--style-5" type="text" name="txtFechaInicio">
                                        <label class="label--desc">Fecha Inicio</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input id="txtFechaFinal" class="input--style-5" type="text" name="txtFechaFinal">
                                        <label class="label--desc">Fecha Final</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <select id="txtEstadoComisiones"  class="select--style-5">
                                            <option value="">Seleccione Estado</option>
                                        </select>
                                        <label class="label--desc">Estados</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <select id="txtComisionistas"  class="select--style-5">
                                            <option value="">Seleccione comisionista</option>
                                        </select>
                                        <label class="label--desc">Comisionistas</label>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="input-group-desc">
                                        <input id="chkComisionista" type="checkbox" name="TodoComisionistas">
                                        <label class="label--desc">Todos Comisionistas</label>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class=" actions pull-right">
                                        <button type="button" id="btnBuscarComisiones" class="btn btn-accion btn--radius-2 btn-primary btn-sm" data-role="tooltip" title="Buscar Reservacion">
                                            <i class="fa fa-search"></i> Generar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</body>
<div class="modal fade" id="popupReport" role="dialog" aria-labelledby="lockedModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span id="tituloReporte"></span></h4>
                </br>
                <div id="mediosExportar">
                    <div role="content">
                        <div class="row small-padding">
                            <div class="col-sm-12">
                                <div class="actions pull-left">
                                    <button type="button" id="btnGenerarExcel" class="btn btn-success btn-sm" data-role="tooltip" title="Generar"><span class="widget-icon">Exportar a Excel</span></button>
                                    <button type="button" id="btnGenerarWord" class="btn btn-success btn-sm" data-role="tooltip" title="Generar"><span class="widget-icon">Exportar a Word</span></button>
                                    <button type="button" id="btnGenerarPDF" class="btn btn-success btn-sm" data-role="tooltip" title="Generar"><span class="widget-icon">Exportar a PDF</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body modal-scroll">
                <div class="panel-body">
                    <div id="wid-id-2">
                        <!-- widget div-->
                        <div role="content">
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <span id="reportes"></span>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>
<!-- End Form Modal -->
<!-- End Form Modal -->
