 <!-- Main CSS-->
<link href="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/css/main.css" rel="stylesheet" media="all">

<!-- Form Modal -->
<div id="popupEditVehiculo" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="lbl_title_create_carts"></h4>
            </div>
            <div class="modal-body modal-bodyEdit modal-scroll">
                <section id="content" class="animated fadeInUp">
                    <form id="formEditVehiculo" name="formResultado" class="">
                        <fieldset>
                            <div class="row">
                                <div class="col col-12 col-md-12">

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtPlacaVehiculoEdicion" disabled class="input--style-5" type="text" name="PlacaVehiculo">
                                                <label class="label--desc">Placa</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtMarcaVehiculoEdicion" class="input--style-5" type="text" name="MarcaVehiculo">
                                                <label class="label--desc">Marca</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtModeloVehiculoEdicion" class="input--style-5" type="text" name="ModeloVehiculo">
                                                <label class="label--desc">Modelo</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtAnnoVehiculoEdicion" class="input--style-5" type="text" name="AnnoVehiculo">
                                                <label class="label--desc">Año</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtGpsEdicion" class="select--style-5" name="AplicaGps">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">GPS</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtFechaCompraEdicion" class="input--style-5" type="text" name="FechaCompra">
                                                <label class="label--desc">Fecha Compra</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtNumeroChasisEdicion" class="input--style-5" type="text" name="NumeroChasis">
                                                <label class="label--desc">Numero Chasis</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtNumeroMotorEdicion" class="input--style-5" type="text" name="NumeroMotor">
                                                <label class="label--desc">Numero Motor</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtColorEdicion" class="input--style-5" type="text" name="Color">
                                                <label class="label--desc">Color</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtTransmisionEdicion" class="input--style-5" type="text" name="Transmision">
                                                <label class="label--desc">Transmision</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtCilindrajeEdicion" class="input--style-5" type="text" name="Cilindraje">
                                                <label class="label--desc">Cilindrada</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtPesoEdicion" class="input--style-5" type="text" name="Peso">
                                                <label class="label--desc">Peso</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtCarroceriaEdicion" class="input--style-5" type="text" name="Carroceria">
                                                <label class="label--desc">Carroceria</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtTraccionEdicion" class="input--style-5" type="text" name="Traccion">
                                                <label class="label--desc">Traccion</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtCapacidadEdicion" class="input--style-5" type="text" name="Capacidad">
                                                <label class="label--desc">Capacidad</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtCategoriaEdicion" class="select--style-5">
                                                    <option value="">Seleccione categoria</option>
                                                </select>
                                                <label class="label--desc">Categoría</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtRtvVencimientoAnnoEdicion" class="input--style-5" type="text" name="RtvVencimientoAnno">
                                                <label class="label--desc">Año Vencimiento RTV</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtRtvVencimientoMesEdicion" class="input--style-5" type="text" name="RtvVencimientoMes">
                                                <label class="label--desc">Mes Vencimiento RTV</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtRtvStickerEdicion" class="select--style-5" name="RtvSticker">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">Sticker RTV</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtRtvPapelEdicion" class="select--style-5" name="RtvPapel">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">Papel RTV</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtMarchamoProximoEdicion" class="input--style-5" type="text" name="MarchamoProximo">
                                                <label class="label--desc">Próximo Marchamo</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtMarchamoStickerEdicion" class="select--style-5" name="MarchamoSticker">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">Sticker Marchamo</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtMarchamoPapelEdicion" class="select--style-5" name="MarchamoPapel">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">Papel Marchamo</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtPlacaStickerEdicion" class="select--style-5" name="PlacaSticker">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">Sticker Placa</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtTituloPropiedadEdicion" class="select--style-5" name="TituloPropiedad">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                                <label class="label--desc">Título de Propiedad</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtMultasEdicion" class="input--style-5" type="text" name="Multas">
                                                <label class="label--desc">Multas</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtKilometrajeEdicion" class="input--style-5" type="text" name="Kilometraje">
                                                <label class="label--desc">Kilometraje</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <select id="txtCodigoColorEdicion" class="select--style-5" name="TituloPropiedad">
                                                    <option value="#E5E619">Amarillo</option>
                                                    <option value="#3B83BD">Azul</option>
                                                    <option value="#00AAE4">Celeste</option>
                                                    <option value="#9C9C9C">Gris</option>
                                                    <option value="#572364">Morado</option>
                                                    <option value="#FF5733">Naranja</option>
                                                    <option value="#DF013A">Rojo</option>
                                                    <option value="#31B404">Verde</option>

                                                </select>
                                                <label class="label--desc">Clasificacion</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class=" actions pull-right">
                                        <button type="button" id="btnGuardarVehiculo" class="btn btn-accion btn--radius-2 btn-primary btn-sm" data-role="tooltip" title="Crear reservacion">
                                            <i class="fa fa-check-circle display-block fa-2x"></i> Guardar Vehiculo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- Mensajes-->
<script src="~/Content/js/src/Dialog.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
