<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet" media="screen">
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">


<!-- Form Modal -->
<div id="popupBusquedaVehiculo" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="lbl_title_create_carts"></h4>
            </div>
            <div class="modal-body modal-bodyEdit modal-scroll">
                <section id="content" class="animated fadeInUp">
                    <div class="row">
                        <article class="col col-12 col-md-12 col-sm-12 sortable-grid ui-sortable">
                            @*Lista de Resultados*@
                            <div class="jarviswidget jarviswidget-sortable" id="secCliente" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
                                <header role="heading">
                                    <h2></h2>
                                </header>

                                <form id="formResultadoVehiculo" name="formResultado" class="">
                                    <fieldset>
                                        <div class="collapseArea" role="content">
                                            <div class="row ">
                                                <div class="col-md-12">
                                                    <div id="tblData" class="col-md-12" style="overflow-x: auto">
                                                        <table id="tableListBusVeh" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Categoria del Vehiculo</th>
                                                                    <th>Placa</th>
                                                                    <th>Marca</th>
                                                                    <th>Modelo</th>

                                                                </tr>
                                                            </thead>
                                                            @*<tbody>
                                                                </tbody>*@
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" actions pull-right">
                                @*<button type="button" id="btnBuscarVehiculo" class="btn btn-accion btn--radius-2 btn-primary btn-sm" data-role="tooltip" title="Buscar Vehiculo">
                                        <i class="fa fa-check-circle display-block fa-2x"></i> Buscar Vehiculos
                                    </button>*@
                                <button type="button" id="btnSeleccionar" class="btn btn-accion btn--radius-2 btn-primary btn-sm" data-role="tooltip" title="Enlazar Vehiculo">
                                    <i class="fa fa-check-circle display-block fa-2x"></i> Enlazar Vehiculo
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>






<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="~/Areas/Viwolf/Content/js/src/Vehiculos/BuscarVehiculo.js"></script>