<link href="~/Areas/Seguridad/Content/css/Autorizacion.css" rel="stylesheet" />



<div id="GetOfferModal" class="modal fade modal-get-offer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Autorizar Operación</h3>
                <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form" role="form" autocomplete="off" id="formGetOffer" novalidate="" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="uname1" id="uname1" required="" placeholder="Usuario">
                        <div class="invalid-feedback">Debe ingresar un usuario.</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd1" required="" placeholder="Password">
                        <div class="invalid-feedback">Debe ingresar un Password.</div>
                    </div>

                    <div class="form-group py-4">
                        <button type="button" class="btn btn-success" id="btnGetOffer">Autorizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Seguridad")

<script src="~/Areas/Seguridad/Content/js/src/app.js"></script>

<script src="~/Areas/Seguridad/Content/js/src/Login/Autorizacion.js"></script>