@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Viwolf/Views/Shared/_LayoutReservacion.cshtml";
}

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Colorlib Templates">
        <meta name="author" content="Colorlib">
        <meta name="keywords" content="Colorlib Templates">

        <!-- Title Page-->
        <title>@ViewBag.Title - Creacion Reservaciones</title>

        <!-- Icons font CSS-->
        <link href="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <!-- Vendor CSS-->
        <link href="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/css/main.css" rel="stylesheet" media="all">
    </head>

<body>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Creacion de Reservaciones</h2>
                </div>
                <div class="card-body">
                    <form method="POST">

                        <div class="form-row m-b-55">
                            <div class="name">Datos del cliente</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtNombreCliente" class="input--style-5" type="text" name="NombreCliente">
                                            <label class="label--desc">Nombre Cliente</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtHospedaje" class="input--style-5" type="text" name="Hospedaje">
                                            <label class="label--desc">Hospedaje</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtEntregaHotel" class="input--style-5" type="text" name="EntregaHotel">
                                            <label class="label--desc">Entrega en Hotel</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="form-row">
            <div class="name">Nombre Cliente</div>
            <div class="value">
                <div class="input-group">
                    <input id="txtNombreCliente" class="input--style-5" type="text" name="NombreCliente">
                </div>
            </div>
        </div>*@
                        @*<div class="form-row">
            <div class="name">Hospedaje</div>
            <div class="value">
                <div class="input-group">
                    <input id="txtHospedaje" class="input--style-5" type="text" name="Hospedaje">
                </div>
            </div>
        </div>*@
                        @*<div class="form-row m-b-55">
            <div class="name">Entrega en Hotel</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="chkEntregaHotel" class="checkbox" type="checkbox" name="EntregaHotel">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        <div class="form-row m-b-55">
                            <div class="name">Tiempos Iniciales</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="txtFechaInicio">
                                            <label class="label--desc">Fecha Inicio</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="txtHoraInicio">
                                            <label class="label--desc">Hora Inicio</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">Tiempos Finales</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="txtFechaEntrega">
                                            <label class="label--desc">Fecha Entrega</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="txtHoraEntrega">
                                            <label class="label--desc">Hora Entrega</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">Extras</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtSurfRacks" class="input--style-5" type="text" name="SurfRacks">
                                            <label class="label--desc">Surf Racks</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtMontoSurfRacks" class="input--style-5" type="text" name="MontoSurfRacks">
                                            <label class="label--desc">Monto SurfRacks</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtCajon" class="input--style-5" type="text" name="Cajon">
                                            <label class="label--desc">Cajon</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="form-row m-b-55">
            <div class="name">Cajon</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="chkCajon" class="input--style-5" type="checkbox" name="Cajon">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        <div class="form-row m-b-55">
                            <div class="name">Montos</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input id="txtMontoDia" class="input--style-5" type="text" name="MontoDia">
                                            <label class="label--desc">Monto Día</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input id="txtMontoTotal" class="input--style-5" type="text" name="MontoTotal">
                                            <label class="label--desc">Monto Total</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @*<div class="form-row m-b-55">
            <div class="name">Monto x Día</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="txtMontoDia" class="input--style-5" type="text" name="MontoDia">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        @*<div class="form-row m-b-55">
            <div class="name">Monto Total</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="txtMontoTotal" class="input--style-5" type="text" name="MontoDia">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        <div class="form-row m-b-55">
                            <div class="name">Depósitos</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtNumeroDeposito" class="input--style-5" type="text" name="NumeroDeposito">
                                            <label class="label--desc">Número Depósito</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtMontoDeposito" class="input--style-5" type="text" name="MontoDepósito">
                                            <label class="label--desc">Monto Depósito</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group-desc">
                                            <input id="txtSaldoActual" class="input--style-5" type="text" name="SaldoActual">
                                            <label class="label--desc">Saldo Actual</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="form-row m-b-55">
            <div class="name">Depósito</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="txtDeposito" class="input--style-5" type="text" name="Deposito">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        @*<div class="form-row m-b-55">
            <div class="name">Saldo Actual</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="txtSaldoActual" class="input--style-5" type="text" name="SaldoActual">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


                        <div class="form-row m-b-55">
                            <div class="name">Datos Ususaios</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-12">
                                        <div class="input-group-desc">
                                            <input id="txtUsuario" class="input--style-5" type="text" name="Usuario">
                                            <label class="label--desc">Reservado por</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @*<div class="form-row m-b-55">
            <div class="name">Reservado Por</div>
            <div class="value">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group-desc">
                            <input id="txtUsuario" class="input--style-5" type="text" name="Usuario">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                        <div class="form-row m-b-55">
                            <div class="name">Datos Proveedor</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input id="txtEfectivo" class="input--style-5" type="text" name="Efectivo">
                                            <label class="label--desc">Efectivo</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input id="txtCuentaCobrar" class="input--style-5" type="text" name="CuentaCobrar">
                                            <label class="label--desc">Cuenta por Cobrar</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input id="txtProveedor" class="input--style-5" type="text" name="Proveedor">
                                            <label class="label--desc">Proveedor</label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input id="txtPlaca" class="input--style-5" type="text" name="Placa">
                                            <label class="label--desc">Número de Placa</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @*<div class="form-row m-b-55">
                            <div class="name">Efectivo</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input id="chkEfectivo" class="input--style-5" type="checkbox" name="Efectivo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">CxC</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input id="chkCxC" class="input--style-5" type="checkbox" name="CuentaCobrar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name">Placa</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input id="txtPlaca" class="input--style-5" type="text" name="Placa">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div>
                            <button id="btnGuardar" class="btn btn--radius-2 btn--red" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/datepicker/moment.min.js"></script>
    <script src="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/Areas/Viwolf/Content/js/src/Reservaciones/Content/js/global.js"></script>
    <script src="~/Areas/Viwolf/Content/js/src/Reservaciones/Reservaciones.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


<!-- end document-->