<!-- Form Modal -->
<div id="popupCrearContrato" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="lbl_title_create_carts"></h4>
            </div>
            <div class="modal-body modal-bodyEdit modal-scroll">
                <section id="content" class="animated fadeInUp">
                    <form id="formEditVehiculo" name="formResultado" class="">
                        <fieldset>
                            <div class="row">
                                <div class="col col-12 col-md-12">
                                    <div class="form-row m-b-55">
                                        <div class="col-4">
                                            <div class="input-group-desc">
                                                <input id="txtIdReservacionContrato" disabled class="input--style-5" type="text" name="Reservacion">
                                                <label class="label--desc">Número Reservacion</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="input-group-desc">
                                                <input id="txtNombreClienteContrato" disabled class="input--style-5" type="text" name="NombreCliente">
                                                <label class="label--desc">Nombre Cliente</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtVoucherPago" type="file" name="VoucherPago">
                                                <label class="label--desc">Voucher Pago</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgVoucherPago" src="" width="150" height="150" alt="Vista Previa Pago...">

                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtVoucherDeposito" type="file" name="VoucherDeposito">
                                                <label class="label--desc">Voucher Deposito</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgVoucherDeposito" src="" width="150" height="150" alt="Vista Previa Deposito...">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtLicencia" type="file" name="Pasaporte">
                                                <label class="label--desc">Pasaporte/Licencia</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgLicencia" src="" width="150" height="150" alt="Vista Previa Licencia/Pasaporte...">

                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtContrato" type="file" name="Contrato">
                                                <label class="label--desc">Contrato</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgContrato" src="" width="150" height="150" alt="Vista Previa Contrato...">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtPrimeraVehiculo" type="file" name="Vehiculo1">
                                                <label class="label--desc">Vehiculo 1</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgPrimeraVehiculo" src="" width="150" height="150" alt="Vista Previa Vehiculo...">

                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtSegundaVehiculo" type="file" name="Vehiculo2">
                                                <label class="label--desc">Vehiculo 2</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgSegundaVehiculo" src="" width="150" height="150" alt="Vista Previa Vehiculo...">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtTerceraVehiculo" type="file" name="Vehiculo3">
                                                <label class="label--desc">Vehiculo 3</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgTerceraVehiculo" src="" width="150" height="150" alt="Vista Previa Vehiculo...">

                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtCuartaVehiculo" type="file" name="Vehiculo4">
                                                <label class="label--desc">Vehiculo 4</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgCuartaVehiculo" src="" width="150" height="150" alt="Vista Previa Vehiculo...">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row m-b-55">
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtQuintaVehiculo" type="file" name="Vehiculo5">
                                                <label class="label--desc">Vehiculo 5</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgQuintaVehiculo" src="" width="150" height="150" alt="Vista Previa Vehiculo...">

                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <input id="txtSextaVehiculo" type="file" name="Vehiculo6">
                                                <label class="label--desc">Vehiculo 6</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group-desc">
                                                <img id="imgSextaVehiculo" src="" width="150" height="150" alt="Vista Previa Vehiculo...">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class=" actions pull-right">
                                            <button type="button" id="btnGuardarContrato" class="btn btn-accion btn--radius-2 btn-primary btn-sm" data-role="tooltip" title="Crear Contrato">
                                                <i class="fa fa-check-circle display-block fa-2x"></i> Crear contrato
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- Mensajes-->
<script src="~/Content/js/src/Dialog.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

