<!-- Form Modal -->
<div id="popupVisorImagenes" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="lbl_title_create_carts"></h4>
            </div>
            <div class="modal-body modal-bodyEdit modal-scroll">
                <section id="content" class="animated fadeInUp">
                    <fieldset>
                        <div class="row">
                            <div class="col col-12 col-md-12">
                                <div class="form-row m-b-55">
                                    <div style="width:100%; height:50%">
                                        <div id="visor" style="width:100%; height:50%">
                                            <img style="width:100%; height:50%" src='' alt='' name='fotoVisor' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </div>
        </div>
    </div>
</div>

