
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Viwolf/Views/Shared/_LayoutReservacion.cshtml";
}

    <head>
        <!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
        <link href="~/Areas/Viwolf/Content/images/engine1/style.css" rel="stylesheet" />
        <script src="~/Areas/Viwolf/Content/images/engine1/jquery.js"></script>
        <!-- End WOWSlider.com HEAD section -->
    </head>

    <body style="background-color:#d7d7d7;margin:auto">
        <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    <li><img src="~/Areas/Viwolf/Content/images/data1/images/sta_teresa.png" alt="sta_teresa" title="sta_teresa" id="wows1_1" /></li>
                    <li><img src="~/Areas/Viwolf/Content/images/data1/images/tours1_400x422.png" alt="tours1_400x422" title="tours1_400x422" id="wows1_2" /></li>
                    <li><img src="~/Areas/Viwolf/Content/images/data1/images/tours2_400x422.png" alt="tours2_400x422" title="tours2_400x422" id="wows1_3" /></li>
                    <li><a href="http://wowslider.net"><img src="~/Areas/Viwolf/Content/images/data1/images/tours3_400x422.png" alt="jquery slider" title="tours3_400x422" id="wows1_4" /></a></li>
                    <li><img src="~/Areas/Viwolf/Content/images/data1/images/tours4_400x422.png" alt="tours4_400x422" title="tours4_400x422" id="wows1_5" /></li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title="sta_teresa"><span><img src="~/Areas/Viwolf/Content/images/data1/tooltips/sta_teresa.png" alt="sta_teresa" />2</span></a>
                    <a href="#" title="tours1_400x422"><span><img src="~/Areas/Viwolf/Content/images/data1/tooltips/tours1_400x422.png" alt="tours1_400x422" />3</span></a>
                    <a href="#" title="tours2_400x422"><span><img src="~/Areas/Viwolf/Content/images/data1/tooltips/tours2_400x422.png" alt="tours2_400x422" />4</span></a>
                    <a href="#" title="tours3_400x422"><span><img src="~/Areas/Viwolf/Content/images/data1/tooltips/tours3_400x422.png" alt="tours3_400x422" />5</span></a>
                    <a href="#" title="tours4_400x422"><span><img src="~/Areas/Viwolf/Content/images/data1/tooltips/tours4_400x422.png" alt="tours4_400x422" />6</span></a>
                </div>
            </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">wow slider</a> by WOWSlider.com v9.0</div>
            <div class="ws_shadow"></div>
        </div>
        <script src="~/Areas/Viwolf/Content/images/engine1/wowslider.js"></script>
        <script src="~/Areas/Viwolf/Content/images/engine1/script.js"></script>
        <!-- End WOWSlider.com BODY section -->
    </body>



